# for quick sanity check of simple model that converges fast
export EGS=10
export DIM=5
export SET=data/snli_1.0_train.jsonl
export ARGS="--train-set=$SET --dev-set=$SET --num-from-train=$EGS --num-from-dev=$EGS"
export ARGS="$ARGS --dev-run-freq=1 --batch-size=2 --num-epochs=10 --optimizer=AdamOptimizer"
export ARGS="$ARGS --embedding-dim=$DIM --hidden-dim=$DIM"
export ARGS="$ARGS --mlp-config=[] --disable-gpu"
